img {
  width: 80%;
  height: auto;
  margin: 10px 0 5px 0;
}

button:focus {
  outline: 0 !important;
}
.jumbotron {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: inherit;
  background-color: #eee;
}
h3{
  margin-top: 10px;
}